#header {
  background-image: url("./Antenna-Farm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  max-width: 100%;
  min-height: 200px;
}

#title {
  padding-top: 75px;
}
